<!-- Footer -->
<footer class="template__footer">

	<div class="container">
		<div class="footerleft">
			{{widget('content', 'footerleftcontent1', {"content":"<h2>Lorem Ip Soda</h2>"})|raw}}
			{{widget('profile', 'footerleftprofile1', { 'profileType':'address', 'address':'profile'})|raw}}
		</div>
		<div class="footerright">
			{{widget('content', 'footerrightcontent1', {"content":"<h2>Lorem Ip Soda</h2>"})|raw}}
			{{widget('profile', 'footerrightprofile1', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
			{{widget('profile', 'footerrightprofile2', { 'profileType' : 'socialicons' })|raw}}
		</div>
	</div>

</footer>
